.gridd{
    display: grid;
    grid-template-columns: 15% auto;

}
.upper{
    display: block;
    padding: 20px;
}


.table{
    margin: 30px;
}


.tableHeadings{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    /* font-weight: bold; */
    font-size: larger;
    color: gray;

}

.order{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    color: black;
    border: solid rgba(0, 0, 0, 0.508) 1px;
    margin: 5px;
    padding: 15px;
    border-radius: 12px;
}


.hr{
    height: 2px;
    border: 0;
    background-color: black;
    width: 100%;
    border-radius: 10px;
}
