


.Navbar{
    background: #FF7F27;
    color: black;
    height: 100vh; 
    width: 100%;   
}
.place .active .complete
.addS
.viewS
.addU
.viewU{
    color: rgb(21, 18, 18);
}

.Navbar > div{
    padding: 20px;
}


.logo{
    height: 30px;
    width: auto;
}